[submodule ".registry"]
	path = .registry
	url = https://github.com/dar4datascience/dar4datascience.r-universe.dev
	branch = HEAD
[submodule "blackmarbler"]
	path = blackmarbler
	url = https://github.com/dar4datascience/blackmarbler
